#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

/* Section de présentation */
#section-header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}

#section-header h1 {
  color: #d3573c;
  font-size: 5em;
  font-weight: 400;
  margin-bottom: 0;
}

#section-header h2 {
  color: #901c1c;
  font-size: 2em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}

#section-header p {
  font-size: 1.2em;
  margin-top: 0;
}
#section-header button {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

#section-header button:hover,
#section-header button:focus {
  background-color: #db8876;
  color: black;
}

/*Filtres  */

.filter-form {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  padding-top: 3%;
  gap: 5%;
  align-items: center;
}

.filter-form label {
  font-weight: 700;
  font-size: 1.3em;
}

.filter-form select {
  background-color: #901c1c;
  color: white;
  font-family: "DM Sans", sans-serif;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 1.3em;
}



/* Lightbox */

#lightbox {
  position : fixed;
  top: 0px; 
  left: 0px; 
  width: 100vw;
  height: 100vh;
  z-index:50;
  background-color: white;
  justify-content: center;
  align-items: center;
}

#lightbox .btn{
  border: none;
  background-color: white;
  color:#901c1c;
  font-size: 2em;
}

.close {
  position:absolute;
  top:30px;
  right:0;
}

.lightbox_content {
  display: flex;
padding-top:2%;
  justify-content: center;
  align-items: center;
  position:relative;
  
}

.lightbox_content h4 {
color:#901c1c;
font-size: 1.2em;
margin-top:10px;
}

.lightbox_content--img {
  display:flex;
  flex-direction: column;
  margin-left:20px;
  margin-right: 20px;
 
}

.lightbox_content--img img, .lightbox_content--img video {
  width: 1050px;
  height: 900px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}


.display-none {
  display: none;
}

.display-flex {
  display:flex;
}

/* Galerie  */

#section-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 3%;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

#section-gallery article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

#section-gallery img,
#section-gallery video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.section-gallery_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-gallery_content h3,
.section-gallery_content p {
  color: #901c1c;
  font-size: 1em;
}


/* Formulaire de contact */

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* Likes */

p.liked {
  color: #db8876;
}

/* Footer */

footer {
  width: 350px;
  height: 60px;
  background-color: #db8876;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.footer p {
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}

.footer i {
  margin-left: 5px;
}
