@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 400;
}
.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article a {
  text-decoration: none;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_photographer {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0px 5px 10px 1px rgba(201, 197, 197, 0.51);
}

.img_photographerIndex--size {
  height: 200px;
  width: 200px;
}

.img_photographerPage--size {
  height: 250px;
  width: 250px;
}

.photographer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.photographer-content h2 {
  color: #d3573c;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0;
}

.photographer-content h3 {
  color: #901c1c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
}

.photographer-content p {
  margin: 0;
  font-size: 0.6em;
  color: black;
}

.price {
  color: #757575;
}
