


@media all {
/* Utiles */
.display-none {
  display: none;
}

.display-flex {
  display:flex;
}

.no-scroll {
  overflow-y: hidden;
}

  /* Page index */

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

/* En tête */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 400;
}
.logo {
  height: 50px;
  margin-left: 100px;
  padding-bottom:5px;
  border-bottom: 3px solid white;
  
}

.logo:hover, .logo:active {
  border-bottom:3px solid #901c1c;
  
}

/* Corps */

main {
  padding-bottom: 5%;
}

/* Section */

.photographer_section {
  width:90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 70px;
margin:auto;
  margin-top: 100px;
}

/*  Carte des photogrpahes */
.photographer_section article{
  width:25%;
}

.photographer_section article a {
  text-decoration: none;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.photographer_section article a h2{
  color: #d3573c;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0;
  transition-duration: 200ms;
  text-align: center;
}

.photographer_section article a:hover h2{
  color:#901c1c;
  transition-duration: 200ms;
}


/* Image du photopgrahe */

.img_photographer {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0px 5px 10px 1px rgba(201, 197, 197, 0.51);
}

.img_photographerIndex--size {
  height: 200px;
  width: 200px;
  transform: scale(1);
  transition-duration: 300ms;
}

.img_photographerIndex:hover, .img_photographerIndex:active {
  box-shadow: 2px 5px 10px 1px rgba(140, 139, 139, 0.51);
  transform: scale(1.1);
  transition-duration: 300ms ;
}

.img_photographerPage--size {
  height: 250px;
  width: 250px;
}

/* Contenu  */

.photographer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}
 

.photographer-content h3 {
  color: #901c1c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 400;
}

.photographer-content p {
  margin: 0;
  font-size: 0.8em;
  color: black;
}

p.price {
  color: #757575;
}

/* Page d'un photographe */

  
  /* Section de présentation */
  #section-header article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
  }
  
  #section-header h1 {
    color: #d3573c;
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  #section-header p {
    font-size: 1.2em;
    margin-top: 0;
    color: #525252;

  }
  #section-header h2 {
    color: #901c1c;
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
  #section-header button {
    font-size: 1.2em;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    transition-duration: 300ms;
  }
  
  #section-header button:hover,
  #section-header button:focus {
    background-color: #db8876;
    color: black;
    transition-duration: 300ms;
  }
  
 /* Aside */
  
 aside {
  width: 350px;
  height: 60px;
  background-color: #db8876;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index:50;
  margin-right: 40px;
}

.aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.aside p {
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}

.aside i {
  margin-left: 5px;
}

  
  /* Lightbox */
  
  #lightbox {
    position : fixed;
    top: 0px; 
    left: 0px; 
    width: 100vw;
    height: 100vh;
    z-index:50;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox .btn{
    border: none;
    background-color: white;
    color:#901c1c;
    font-size: 2em;
    cursor: pointer;
  }
  
  .close {
    position:absolute;
    top:30px;
    right:0;
    
  }

  .previous {
    position: absolute;
    top: 50%;
    left:-5%;
    
  }
  
  .lightbox_content {
    display: flex;
  padding-top:2%;
    justify-content: center;
    align-items: center;
    position:relative;
    
  }
  
  .lightbox_content h4 {
  color:#901c1c;
  font-size: 1.2em;
  margin-top:10px;
  }
  
  .lightbox_content--img {
    display:flex;
    flex-direction: column;
    margin-left:20px;
    margin-right: 20px;
   
  }
  
  .lightbox_content--img img, .lightbox_content--img video {
    width: 100%;
    max-height:900px;
    max-height: 900px;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
   /*Filtres  */
  
   .filter-form {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 3%;
    gap: 5%;
    align-items: center;
  }
  
  .filter-form label {
    font-weight: 700;
    font-size: 1.3em;
    
  }
  
  .filter-form select {
    background-color: #901c1c;
    color: white;
    font-family: "DM Sans", sans-serif;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 1.3em;
    cursor: pointer;
  }  

  
  
  
  /* Galerie  */
  
  #section-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 3%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  
  #section-gallery article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }
  
  #section-gallery img,
  #section-gallery video {
    width: 350px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    transition-duration: 300ms;
  }

  #section-gallery img:hover, #section-gallery video:hover {
    box-shadow: 0px 3px 10px 1px rgba(101, 100, 100, 0.61);
    transition-duration: 300ms;
  }
  
  .section-gallery_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-gallery_content h3 {
    color: #901c1c;
    font-size: 1em;
  }
  .section-gallery_like{
    display: flex;
    align-items: center;
    color: #901c1c;
    gap: 2px;
  }
  
  .section-gallery_like button i{
    color: #901c1c;
    font-size: 1.4em;
  }

  .like-count {
    margin-right:2%;
  }

  /* Likes */

  .btn_like {
    border:none;
    background-color: white;
    cursor: pointer;
   
  }

  .btn_like i {
    transform: scale(1);
    transition-duration: 300ms;
  }

  .btn_like:hover i {
    color: #d3573c;
    transform: scale(1.2);
    transition-duration: 300ms;
  }

  .section-gallery_like.liked i {
    color: #d3573c;
    transform: scale(1.2);
  }
  
  /* Formulaire de contact */
  
  .photograph-header {
    background-color: #fafafa;
    width: 90%;
    margin: auto;
    border-radius: 5px;
  }
  
  #contact_modal{
    width: 100vw;
    height: 100vh;
    position :absolute;
    top:0;
    left:0;
    background-color: rgba(196, 196, 196, 0.4);
    overflow-x: hidden;
  }
  
  .contact_button, .submit_button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    
  }

  
  
  .modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top:2%;
    margin-bottom:30px;
    box-shadow:0px 5px 10px 1px rgba(121, 120, 120, 0.685);
    position:relative;
  }
  
  .modal header {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom:2%;
  }
  
  .modal header img {
    cursor: pointer;
  }
  
  .modal_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .modal header h2, .contactName {
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
  }

  .btn_closeContactForm{
    border:none;
    background-color: #db8876;
    position: absolute;
    top:4%;
    right:3%;
    cursor: pointer;
  }
  
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top:10%;
  }
  
  form label {
    color: #312e2e;
    font-size: 2em;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 26px;
  }
  
  form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    
  }
  
  textarea{
    height: 150px;
    width: 100%;
    border: none;
    border-radius: 5px;
    
  }
  
  .text-control{
    font-size:1.5em;
    font-family: "DM Sans", sans-serif;
  
  }
  
  
}

 
  @media (max-width:1440px){
    #section-header h1{
      font-size: 3.2em;
    }
    
    .modal{
      width:35%;
      padding: 20px 35px;
      margin: 1% auto auto;
    }

    .modal header h2, .contactName {
      font-size: 2.5em;
    }

    .modal header img{
      width:6%;
    }

    form label{
      font-size: 1.5em;
    }

    form{
      margin-top:10px;
    }

    form div{
      margin-bottom:10px;
    }

    form input{
      height: 40px;
    }

    textarea {
      height: 90px;
    }

    .submit_button {
      width: 130px;
      height: 50px;
      padding:0px;
    }

    .lightbox_content--img img, .lightbox_content--img video {
      width:700px;
      height : 550px;
    }
  
  }
  
  @media (max-width:1211px){
    #section-header article{
      width:100%;
    }

    #section-header h1{
      font-size:3em;
    }
   
    
    #section-gallery img,
    #section-gallery video {
      width: 280px;
      height: 230px;
     
    }
    .modal{
      width:50%;
    }
  }
  
  @media (max-width:1024px){
   
  
    .img_photographerPage--size{
      width:200px;
      height: 200px;
    }
    #section-gallery img,
    #section-gallery video {
      width: 250px;
      height: 200px;
     
    }



.lightbox_content--img img, .lightbox_content--img video {
  width:800px;
  height:650px;
}


  }

  @media (max-width:900px){
   
   #section-header h1 {
     font-size: 3em;
   }

   #section-header button {
     font-size: 1em;

   }

   #section-gallery img,
    #section-gallery video {
      width: 350px;
      height: 300px;
     
    }

    .section-gallery_content h3, .section-gallery_content p {
      font-size: 1.5em;
    }

   .contact_button{
width: 150px;
   }

    .modal{
      padding: 35px;
      margin:auto;
    }

    .modal header img{
      width:6%;
    }
  }
  
  